player-connection-mode=Listen
player-connection-guid=2057186371
player-connection-debug=0
player-connection-project-name=FPSMultiplayerGame
player-connection-ip=192.168.0.101
player-connection-ip=192.168.43.1
player-connection-ip=192.168.188.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=f7cc242c39bc446fa444c708c7f72ad7
